# ==========================================
# Configurações do Banco de Dados
# ==========================================
DATABASE_URL=sqlite:///Database/food_service.db

# ==========================================
# Configurações de Autenticação JWT
# ==========================================
# Você pode gerar uma com: openssl rand -hex 32
SECRET_KEY=your-secret-key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
